.text {
    color: aliceblue;
}

.darkText {
    color:rgb(4, 7, 35);
}

body {
    background-color:hsl(221, 41%, 47%);
}

#bodyDiv {
    position: absolute; left:50px; top:150px;
}

.banner {
    padding-inline: 4px;
}

.btext {
    display: inline-block;
    padding-inline: 4px;
    text-decoration: none;
    border: 1px solid rgb(27, 114, 201);
    border-bottom: 10px;
    border-top: 10px;
}