.text {
    color: aliceblue;
}

.darkText {
    color:rgb(4, 7, 35);
}

body {
    background-color:hsl(221, 41%, 47%);
}

#bodyDiv {
    position: absolute; left:50px; top:110px;
    width: 95%;
}

.banner {
    padding-inline: 4px;
}

.btext {
    display: inline-block;
    padding-inline: 4px;
    text-decoration: none;
    border: 1px solid rgb(27, 114, 201);
    border-bottom: 10px;
    border-top: 10px;
}

.pageTitle {
    font-size: 60px;
}

.pageDesc {
    font-size: 35px;
}

/*
.postContainer {
    display: block;
    position: relative;
    width: 1000px;
    left: calc(50% - 500px); /* use width / 2 /
}
*/

.postContainer {
    display: block;
    margin:auto;
    width: 600px;
}

.postDivider {
    background-image: url(images/divider.png);
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.postTitle {

}

.postSubtext {
    margin-left: 4%;
}

.video {
    width: 1000px;
    height: 666px;
    position: relative;
    left: calc(50% - 500px);

    border: hidden;
}

